<% article.comments.each do |comment| %>
  <% comment_user = comment.user %>
  <tr>
    <td>
      <%= link_to account_path(@article.user) do%>

        <%= image_tag comment.user.avatar_image, size: "60x60"%><br>
        <%= comment.user.name %>
      <% end %>
    </td>  
  
    <td><%= comment.comment %></td>
    <% if current_user == comment.user %>
      <td><%= link_to '削除', article_comment_path(comment.article_id, comment.id), method: :delete, remote: true %></td>
    <% end %>
  </tr>
<% end %>