<tr id="article_<%= article.id %>">
  <td>
    <%= link_to account_path(article.user) do%>
      <%=article.user.name%>
    <% end %>
  </td>
  <td><%= link_to article.title, article_path(article) %></td>
  <td class="tag">
    <% article.tags.each do |tag| %>
      <li style="list-style: none;">
        <%= link_to tag.name, search_path(content: tag.name, model:"tag", method: "perfect") ,class: "tag_name"%>
      </li>
    <% end %>
  </td>
  <td class="favorite-btn">
    <%= render "favorites/favorite-btn", article: article %></td>
  </td>
  <td class="comments-count">
    <%= link_to "#{article.comments.count} コメント", article_path(article) %>
  </td>
</tr>