<div class = "container">
  <div class = "row">
    <div class = "col-md-8 offset-md-1">
      <h2>記事一覧</h2>
      <table class="table table-hover">
        <thead>
          <tr>
              <th></th>
              <th>title</th>
              <th>tag</th>
              <th colspan="3"></th>
          </tr>
        </thead>
        <tbody>
          <% @articles.each do |article| %>
            <tr id="article_<%= article.id %>">
              <td><%= link_to article.title, article_path(article) %></td>
              <td>タグ</td>
              <td class="favorite-btn">
                <%= render "favorites/favorite-btn", article: article %></td>
              </td>
              <td class="comments-count">
                <%= link_to "#{article.comments.count} コメント", article_path(article) %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <%= link_to new_article_path do %>
        <div class="float_btn">
          <i class="fa fa-plus"></i>
        </div>
      <% end %>
    </div>
  </div>
</div>
