
<div class = "container">
  <%=link_to "一覧に戻る", articles_path , class: "btn btn-sm btn-secondary"%>
  <div class = "row mt-5">
    <div class = "col-md-8 offset-md-1">
      <div class="article_view_count d-flex">
        <h2><%= @article.title %></h2>
        <p class="ml-5">View数</p>
        <h2><%=  @article.impressionist_count %></h2>
      </div>
      <table class="table">
        <tbody>
          <tr>
            <td class="tag">
              <% @article.tags.each do |tag| %>
                <li style="list-style: none;">
                  <%= link_to tag.name, search_path(content: tag.name, model:"tag", method: "perfect") ,class: "tag_name"%>
                </li>
              <% end %>
            </td>
          </tr>
          <% if @article.image.attached? %>
            <tr>
              <th>
                <%=image_tag @article.get_image(300, 300) %>
              </th>
            </tr>
          <% end %>
          <tr>
            <td>
              <strong>作成者</strong>
              <br>
              <%=link_to account_path(@article.user) do%>
                <%=image_tag @article.user.avatar_image,size: "60x60"%>
                <%= @article.user.name %>
              <% end %>
            </td>
          </tr>
          <tr id="article_<%= @article.id %>">
            <td class="favorite-btn">
              <%= render "favorites/favorite-btn", article: @article %></td>
            </td>
          </tr>
          <tr>
            <td>
              <strong>参考内容</strong>
                <br>
              <%= @article.content %>
            </td>
          </tr>
          <tr>
            <td>
              <strong>内容</strong>
              <br>
              <%= markdown(@article.subcontent).html_safe %>
            </td>
          </tr>
          <tr>
            <% if @user.id == current_user.id %>
              <td>
                <%= link_to "Edit", edit_article_path(@article), class: "btn btn-sm btn-success" %>
                <%= link_to "Destroy", article_path(@article), class: "btn btn-sm btn-danger", method: :delete, "data-confirm" => "本当に消しますか？" %>
              </td>
            <% end %>
          </tr>
            
        </tbody>
      </table>
    </div>
  </div>

  <div>
    <h3 class="text-center my-5">コメント一覧</h3>
    <p>コメント件数：<%= @article.comments.count %></p>
    <table class="article_comments">
      <%= render 'comments/index', article: @article %>
    </table>
  </div>

  <!--コメント投稿-->
  <div>
    <!--ネストしているから-->
    <%= form_with model: [@article, @comment],  local: false do |f| %>
      <%= f.text_area :comment, size:"90x5", placeholder: "コメントをここに" %>
      <%= f.submit "送信する" %>
    <% end %>
  </div>
</div>

