<% visiter = notification.visiter %>
<% article = notification.article %>
<div class="container">
  <div class="user-view clearfix ">
    <%= link_to account_path(notification.visiter) do %>
      <%=image_tag visiter.avatar_image ,size: "60x60"%>
    <% end %>
    <%= notification_form(notification) %><span class="moderate-font"><%= " (#{time_ago_in_words(notification.created_at)} å‰)" %></span>
    <br>
    <% if !@comment.nil? %>
      <p class="moderate-font text-center" style="color: #C0C0C0;"><%= @comment %></p>
    <% end %>
  </div>
</div>