<div class="container profilePage">
  <div class="profilePage_user">
    <div class="profilePage_user_image">
      <%= image_tag user.avatar_image %>
    </div>
    <div class="profilePage_user_basicInfo">
      <div class="profilePage_user_name">
        <div class="profilePage_user_displayName"></div>
        <div class="profilePage_user_actionButton">
          <% if user == current_user %>
            <%= link_to 'Edit', edit_profile_path %>
          <% else %>
            <%= link_to 'Follow', '#' %>
          <% end %>
        </div>
      </div>
      <div class="profilePage_user_introduction">
        <%= user.profile&.introduction %>
      </div>
    </div>
  </div>
  <% user.articles.each do |article| %>
    <%= render 'commons/article', article: article %>
  <% end %>
</div>
