<header class="header">
  <% if user_signed_in?%>
    <p class="header_pageTitle">
      <%= link_to articles_path do%>
        <%=image_tag "knowput" ,size: "80x80"%>
      <% end %>
    </p>
  <%else%>
    <p class="header_pageTitle">
      <%= link_to  root_path do%>
        <%=image_tag "knowput" ,size: "80x80"%>
      <% end %>
    </p>
  <% end %>
  <%if user_signed_in?%>
    <div class="container ml-3">
      <div class="row justify-content-start  d-flex">
        <div class="mr-3"><%= render 'searches/form' %></div>
        <%=link_to "User一覧", accounts_path , class: "btn btn-secondary btn-sm align-items-center"%>
        <%=link_to "勉強会一覧", groups_path , class: "btn btn-secondary btn-sm  align-items-center ml-1"%>
        <div class="notification ml-3">
          <% if unchecked_notifications.any? %>
            <%= link_to "通知来てるよ", notifications_path, class: "btn btn-success btn-sm" %>
          <% end %>
        </div>
      </div>
    </div>
    <div class="dropdown">
      <%= image_tag current_user.avatar_image, class: 'header_avatar dropbtn' %>
      <div class="dropdown-content">
        <%= link_to 'プロフィール', profile_path%>
        <%= link_to 'ログアウト', destroy_user_session_path, data: { method: 'delete' }%>
      </div>
    </div>
  <% else %>
    <%= link_to 'ゲストログイン', users_guest_sign_in_path, class: 'header_loginBtn' ,method: 'post'%>
  <% end %>
</header>