<header class="header">
  <% if user_signed_in?%>
    <p class="header_pageTitle">
      <%= link_to 'OutputApp', articles_path%>
    </p>
    <%else%>
    <p class="header_pageTitle">
      <%= link_to 'OutputApp', root_path%>
    </p>
  <% end %>
  <%if user_signed_in?%>
    <%=link_to "User一覧", accounts_path , class: "btn btn-secondary btn-sm d-flex align-items-center justify-content-center"%>
    <div class="dropdown">
      <%= image_tag current_user.avatar_image, class: 'header_avatar dropbtn' %>
      <div class="dropdown-content">
        <%= link_to 'プロフィール', profile_path%>
        <%= link_to 'ログアウト', destroy_user_session_path, data: { method: 'delete' }%>
      </div>
    </div>
  <% else %>
    <%= link_to 'ログイン', new_user_session_path, class: 'header_loginBtn' %>
  <% end %>
</header>