<header class="header">
  <p class="header_pageTitle"><%= link_to 'OutputApp', root_path%></p>
  <%if user_signed_in?%>
    <div class="dropdown">
      <%= image_tag 'male.svg', class: 'header_avatar dropbtn' %>
      <div class="dropdown-content">
        <%= link_to 'プロフィール', profile_path%>
        <%= link_to 'ログアウト', destroy_user_session_path, data: { method: 'delete' }%>
      </div>
    </div>
  <% else %>
    <%= link_to 'ログイン', new_user_session_path, class: 'header_loginBtn' %>
  <% end %>
</header>