<!DOCTYPE html>
<html>
  <head>
    <title>OutputApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%=render 'layouts/header'%>
    <% if flash.present? %>
      <div class="flash">
        <% flash.each do |key, value| %>
          <div class="<%= key %>">
            <%= value %>
          </div>
        <% end %>
      </div>
    <% end %>
    <%= yield %>
  </body>
</html>
